.connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.connexion_logo{
    border: 10px solid #DCC28F;
    border-radius: 12px;
    width: 913px;
    height: 953px;
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    >img{
        width: 215px;
        height: 210px;
        border: 7px solid #BB8D33;
        border-radius: 100%;
        margin-top: 38px;
    }

    >.connexion_formulaire{
        >form .devis_password_eyes{
            position: relative;
            >img{
                position: absolute;
                width: 50px;
                height: 50px;
                top: 25px;
                right: 20px;
                cursor: pointer;
            }
            >i{
                color: red;
                background: red;
            }
        }
        >h1{
            text-align: center;
            margin-top: 40px;
            font-size: 30px;
        }
        >form{
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            >.connexion_bouton{
                display: flex;
                justify-content: center;
                
                >button{
                    width: 290px;
                    height: 54px;
                    background: transparent;
                    border: 4px solid #484848;
                    border-radius: 30px;
                    margin-top: 30px;
                    cursor: pointer;
                    transition:all 0.3s ease-in-out;
                    
                    &:hover{
                        background: #484848;
                        color: white;
                    }
                }
            }
        }

        >form input{
            width: 634px;
            height: 76px;
            background: transparent;
            border: 5px solid #484848;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 24px;
            outline: none;
            border-radius: 12px;
            
        }

        >form input::placeholder{
        color: black;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        //opacity: 0.6;
        }

        >form input:focus::placeholder {
            opacity: 0;
        }

        >form a{
            width: 634px;
            height: 76px;
            background: #484848;
            border: 5px solid #484848;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 25px;
            
        }
    }
}

.devis_password_eyes{

    >.fa-sort-down{
        position: absolute;
        right: 20px;
        font-size: 35px;
        top: 4px;
        cursor: pointer;
        color: #484848;
    }
    >.fa-sort-up{
        position: absolute;
        right: 20px;
        font-size: 35px;
        top: 19px;
        cursor: pointer;
        color: #484848;
    }
}

.lien_expire{
    color: red;
    font-size: 22px;
    margin-top: 50px;
    text-align: center;
    width: 50%;
    font-weight: bold;
}

@media only screen and (max-width: 320px){ // petit smartphone
    .connexion{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }
    
    .connexion_logo{
        border: 4px solid #DCC28F;
        width: 90%;
        height: 570px;
        display: flex;
        align-items: center;
        flex-direction: column;
        >img{
            width: 100px;
            height: 100px;
            border: 4px solid #BB8D33;
            border-radius: 100%;
            margin-top: 25px;
        }
    
        >.connexion_formulaire{
            width: 80%;
            >form .devis_password_eyes{
                position: relative;
                >img{
                    position: absolute;
                    width: 20px;
                    height: 22px;
                    top: 25px;
                    right: 20px;
                    cursor: pointer;
                }
                >i{
                    color: red;
                    background: red;
                }
            }
            >h1{
                text-align: center;
                margin-top: 40px;
                font-size: 22px;
            }
            >form{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
    
                >.connexion_bouton{
                    display: flex;
                    justify-content: center;
                    
                    >button{
                        width: 80%;
                        height: 54px;
                        background: transparent;
                        border: 4px solid #484848;
                        border-radius: 30px;
                        margin-top: 30px;
                        cursor: pointer;
                    }
                }
            }
    
            >form input{
                width: 100%;
                margin: auto;
                height: 54px;
                background: transparent;
                border: 2px solid #484848;
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
                padding: 10px;
                font-size: 15px;
                outline: none;
            }
    
            >form input::placeholder{
            color: black;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 0em;
            //opacity: 0.6;
            }
    
            >form input:focus::placeholder {
                opacity: 0;
            }
    
            >form a{
                width: 100%;
                margin: auto;
                height: 54px;
                background: #484848;
                border: 5px solid #484848;
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 13px;
            }
        }
    }
    
    .devis_password_eyes{
        
        >.fa-sort-down{
            position: absolute;
            right: 20px;
            font-size: 35px;
            top: 33px;
            cursor: pointer;
            color: #484848;
        }
        >.fa-sort-up{
            position: absolute;
            right: 20px;
            font-size: 35px;
            top: 47px;
            cursor: pointer;
            color: #484848;;
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .connexion{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }
    
    .connexion_logo{
        border: 4px solid #DCC28F;
        width: 90%;
        height: 570px;
        display: flex;
        align-items: center;
        flex-direction: column;
        >img{
            width: 100px;
            height: 100px;
            border: 4px solid #BB8D33;
            border-radius: 100%;
            margin-top: 25px;
        }
    
        >.connexion_formulaire{
            width: 80%;
            >form .devis_password_eyes{
                position: relative;
                >img{
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 25px;
                    right: 20px;
                    cursor: pointer;
                }
                >i{
                    color: red;
                    background: red;
                }
            }
            >h1{
                text-align: center;
                margin-top: 40px;
                font-size: 22px;
            }
            >form{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
    
                >.connexion_bouton{
                    display: flex;
                    justify-content: center;
                    
                    >button{
                        width: 80%;
                        height: 54px;
                        background: transparent;
                        border: 4px solid #484848;
                        border-radius: 30px;
                        margin-top: 30px;
                        cursor: pointer;
                    }
                }
            }
    
            >form input{
                width: 100%;
                margin: auto;
                height: 54px;
                background: transparent;
                border: 2px solid #484848;
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
                padding: 10px;
                font-size: 15px;
                outline: none;
            }
    
            >form input::placeholder{
            color: black;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 0em;
            //opacity: 0.6;
            }
    
            >form input:focus::placeholder {
                opacity: 0;
            }
    
            >form a{
                width: 100%;
                margin: auto;
                height: 54px;
                background: #484848;
                border: 5px solid #484848;
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 13px;
            }
        }
    }
    
    .devis_password_eyes{
        
        >.fa-sort-down{
            position: absolute;
            right: 20px;
            font-size: 35px;
            top: 33px;
            cursor: pointer;
            color: #484848;
        }
        >.fa-sort-up{
            position: absolute;
            right: 20px;
            font-size: 35px;
            top: 47px;
            cursor: pointer;
            color: #484848;;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.connexion_logo{
    border: 8px solid #DCC28F;
    width: 90%;
    height: 953px;
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    >img{
        width: 221px;
        height: 210px;
        border: 7px solid #BB8D33;
        border-radius: 100%;
        margin-top: 76px;
    }

    >.connexion_formulaire{
        width: 80%;
        >form .devis_password_eyes{
            position: relative;
            >img{
                position: absolute;
                width: 50px;
                height: 50px;
                top: 28px;
                right: 20px;
                cursor: pointer;
            }
            >i{
                color: red;
                background: red;
            }
        }
        >h1{
            text-align: center;
            margin-top: 40px;
        }
        >form{
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            >.connexion_bouton{
                display: flex;
                justify-content: center;
                
                >button{
                    width: 390px;
                    height: 54px;
                    background: transparent;
                    border: 4px solid #484848;
                    border-radius: 30px;
                    margin-top: 30px;
                    cursor: pointer;
                }
            }
        }

        >form input{
            width: 100%;
            height: 75px;
            background: transparent;
            border: 5px solid #484848;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 25px;
            outline: none;
        }

        >form input::placeholder{
        color: black;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        //opacity: 0.6;
        }

        >form input:focus::placeholder {
            opacity: 0;
        }

        >form a{
            width: 100%;
            height: 75px;
            background: #484848;
            border: 5px solid #484848;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 30px;
        }


    }
}

.devis_password_eyes{

    >.fa-sort-down{
        position: absolute;
        right: 20px;
        font-size: 35px;
        top: 33px;
        cursor: pointer;
        color: #484848;
    }
    >.fa-sort-up{
        position: absolute;
        right: 20px;
        font-size: 35px;
        top: 47px;
        cursor: pointer;
        color: #484848;;
    }
}

}

.connexion_error{
    text-align: center;
    color: red;
    font-size: 18px;
}