.partenaire_logo{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.partenaire_logo_inside{
    display: flex;
    align-items: center;
    >img{
        width: 150px;
        height: auto;
    }
}

.partenaire_logo_certification{
    width: 1250px;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
}


.certification_title{
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}

.certification_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 20px;
    >p{
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        border:1px solid black;
        border-radius: 10px;
        color: white;
        background: #484848;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    >img{
        width: 150px;
        height: 55px;
    }
}




@media only screen and (max-width: 320px){ // petit smartphone
    .partenaire_logo{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-top: 40px;
    }
    
    .partenaire_logo_inside{
        display: flex;
        align-items: center;
        >img{
            width: 84px;
            height: 50px;
            margin: 10px;
        }
    }
    
    .partenaire_logo_certification{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 100px;
    }
    
    .certification_title{
        color: #484848;
        font-family: 'Baloo 2', cursive;
        font-size: 26px;
        font-style: normal;
        font-weight: bold;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
    }

    .certification_images{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
        >img{
            width: 120px;
            height: 80px;
        }
    }

    .nos_partenaires_images{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
        >img{
            width: 120px;
            height: 80px;
        }
    }
    
    .wildix{
        width: 166px;
        height: 80px;
    }
    
    .ts_plus{
        width: 166px;
        height: 80px;
    }
    
    .cisco{
        width: 100px;
        height: 80px;
    }
    
    .lifesize{
        width: 100px;
        height: 80px;
    }
    
}

@media screen and (min-width: 321px) and (max-width: 767px) {

    .partenaire_logo{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
    
    .partenaire_logo_inside{
        display: flex;
        align-items: center;
        >img{
            width: 104px;
            height: 60px;
            margin: 10px;
        }
    }
    
    .partenaire_logo_certification{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 100px;
    }
    
    
    .certification_title{
        color: #484848;
        font-family: 'Baloo 2', cursive;
        font-size: 26px;
        font-style: normal;
        font-weight: bold;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
    }

    .certification_images{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 0px;
        >img{
            width: 120px;
            height: 80px;
        }
    }

    .nos_partenaires_images{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
        >img{
            width: 120px;
            height: 80px;
        }
    }
    
    .wildix{
        width: 166px;
        height: 80px;
    }
    
    .ts_plus{
        width: 166px;
        height: 80px;
    }
    
    .cisco{
        width: 100px;
        height: 80px;
    }
    
    .lifesize{
        width: 100px;
        height: 80px;
    }
    

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .partenaire_logo{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: auto;
        margin-top: 30px;
    }
    
    .partenaire_logo_inside{
        display: flex;
        align-items: center;
        >img{
            width: 120px;
            height: 70px;
            margin: 10px;
        }
    }
    
    .partenaire_logo_certification{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 100px;
    }
    
    
    .certification_title{
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
    }

    .certification_images{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
        >img{
            width: 120px;
            height: 80px;
        }
    }

    .nos_partenaires_images{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
        >img{
            width: 120px;
            height: 80px;
        }
    }
    
    .wildix{
        width: 166px;
        height: 80px;
    }
    
    .ts_plus{
        width: 166px;
        height: 80px;
    }
    
    .cisco{
        width: 100px;
        height: 80px;
    }
    
    .lifesize{
        width: 100px;
        height: 80px;
    }

}