.devis_inside{
    border: 10px solid #DCC28F;
    width: 913px;
    height: 100%;
    align-items: center;

    >p{
        margin-top: 40px;
    }
    >.devis_logo{
        width: 221px;
        height: 210px;
        margin-top: 76px;
        display: flex;
        justify-content: center;
        width: 100%;

        >img{
            width: 215px;
            height: 210px;
            border: 7px solid #BB8D33;
            border-radius: 100%;

        }

    }

    >form .devis_inside_input_suivi_ticket{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

        >input{
            width: 600px;
            height: 54px;
            margin-top: 30px;
            //padding-left: 20px;
            font-size: 18px;
            border: transparent;
            border: 3px solid #484848;
            border-radius: 5px;
            outline: none;
            text-align: center;
        
            &::placeholder{
                text-align: center;
            }      
        }
        >p{
            color: red;
            font-size: 18px;
            margin-top: 10px;
        }

        >input:focus{
            &::placeholder{
                opacity: 0;
            }
        }
    }

    >p{
        font-family: 'Baloo 2', sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: center;

    }
}

.devis_bouton_envoyer_suivi_ticket{
    width: 600px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    >a{
        width: 280px;
        height: 37px;
        background: #484848;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        transition: all 0.2s ease-in-out;

    }
    >button{
        width: 280px;
        height: 37px;
        background: #484848;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border:none;
        border-radius: 12px;
        transition: all 0.2s ease-in-out;
    }

}

@media only screen and (max-width: 320px){ // petit smartphone
    .devis_inside{
        border: 7px solid #DCC28F;
        width: 80%;
        height: 93%;
        align-items: center;
    
        >p{
            margin-top: 40px;
        }
        >.devis_logo{
            width: 221px;
            height: 210px;
            margin-top: 76px;
            display: flex;
            justify-content: center;
            width: 100%;
    
            >img{
                width: 165px;
                height: 160px;
                border: 7px solid #BB8D33;
                border-radius: 100%;
    
            }
    
        }
    
        >form .devis_inside_input_suivi_ticket{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
    
            >input{
                width: 200px;
                height: 54px;
                margin-top: 30px;
                //padding-left: 20px;
                font-size: 16px;
                border: transparent;
                border: 3px solid #484848;
                border-radius: 5px;
                outline: none;
                text-align: left;

            
                &::placeholder{
                    text-align: left;
                    font-size: 16px;
                }      
            }
    
            >input:focus{
                &::placeholder{
                    opacity: 0;
                }
            }
        }
    
        >p{
            font-family: 'Baloo 2', sans-serif;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 53px;
            letter-spacing: 0em;
            text-align: center;
    
        }
    }
    
    .devis_bouton_envoyer_suivi_ticket{
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    
        >a{
            width: 150px;
            height: 47px;
            background: #484848;
            border: 3px solid #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            color: white;
            cursor: pointer;
    
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .devis_inside{
        border: 7px solid #DCC28F;
        width: 80%;
        height: 93%;
        align-items: center;
    
        >p{
            margin-top: 40px;
        }
        >.devis_logo{
            width: 221px;
            height: 210px;
            margin-top: 76px;
            display: flex;
            justify-content: center;
            width: 100%;
    
            >img{
                width: 165px;
                height: 160px;
                border: 7px solid #BB8D33;
                border-radius: 100%;
    
            }
    
        }
    
        >form .devis_inside_input_suivi_ticket{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
    
            >input{
                width: 200px;
                height: 54px;
                margin-top: 30px;
                //padding-left: 20px;
                font-size: 16px;
                border: transparent;
                border: 3px solid #484848;
                border-radius: 5px;
                outline: none;
                text-align: left;

            
                &::placeholder{
                    text-align: left;
                    font-size: 16px;
                }      
            }
    
            >input:focus{
                &::placeholder{
                    opacity: 0;
                }
            }
        }
    
        >p{
            font-family: 'Baloo 2', sans-serif;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 53px;
            letter-spacing: 0em;
            text-align: center;
    
        }
    }
    
    .devis_bouton_envoyer_suivi_ticket{
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    
        >a{
            width: 150px;
            height: 47px;
            background: #484848;
            border: 3px solid #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            color: white;
            cursor: pointer;
    
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {


}